In [1]:
import pandas as pd 

data_file = "./data/CEO3.csv"

df = pd.read_csv(data_file, encoding='latin')
df[0:10]

,number,firm,publishing,country,text,Unnamed: 5,Unnamed: 6,Unnamed: 7,Unnamed: 8,Unnamed: 9,...,Unnamed: 450,Unnamed: 451,Unnamed: 452,Unnamed: 453,Unnamed: 454,Unnamed: 455,Unnamed: 456,Unnamed: 457,Unnamed: 458,Unnamed: 459
0,2,Amorepacific,1,Korea,We will use beauty to change the world and bec...,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,4,Amorepacific,3,Korea,AMOREPACIFC Group will endeavor to become a gr...,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,502,Amorepacific,4,Korea,AMOREPACIFIC Group has been pursuing the path ...,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,5,Asiana Airlines,1,Korea,This year marks the 25th anniversary of the es...,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,6,Asiana Airlines,2,Korea,"Since the inception, Asiana Airlines has pledg...",NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5,7,Asiana Airlines,3,Korea,All of us will do our best without stopping fo...,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
6,503,Asiana Airlines,4,Korea,"First of all, I would like to express my heart...",NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
7,11,BNK Financial Group Inc.,3,Korea,Since the establishment of Busan Bank in 1967 ...,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
8,504,BNK Financial Group Inc.,4,Korea,"In March 2011, BNK Financial Group was launche...",NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
9,12,BPA,3,Korea,I am pleased to introduce various sustainable ...,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [2]:
texts = df.get('text')
print(type(texts))

<class 'pandas.core.series.Series'>

In [3]:
print(texts[0: 10])

0    We will use beauty to change the world and bec...
1    AMOREPACIFC Group will endeavor to become a gr...
2    AMOREPACIFIC Group has been pursuing the path ...
3    This year marks the 25th anniversary of the es...
4    Since the inception, Asiana Airlines has pledg...
5    All of us will do our best without stopping fo...
6    First of all, I would like to express my heart...
7    Since the establishment of Busan Bank in 1967 ...
8    In March 2011, BNK Financial Group was launche...
9    I am pleased to introduce various sustainable ...
Name: text, dtype: object

In [5]:
from nltk.tokenize import RegexpTokenizer

tokenizer = RegexpTokenizer(r'+')


from nltk.stem import WordNetLemmatizer

lemmatizer = WordNetLemmatizer()

ModuleNotFoundError: No module named 'nltk'